__pycache__/
*.py[cod]
.ipynb_checkpoints/
.env
.venv/
venv/
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
mlruns/
mlartifacts/
models/
*.pkl
*.joblib
.DS_Store
.pytest_cache/
.coverage
